/* should not have shadows */
h1, h2, h3, h4, h5, h6, p, span, a, div, strong, em, li, ul, ol, dl, dt, dd, blockquote, pre, code, address, time, cite, q, abbr, acronym, sub, sup, small, mark {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  filter: none !important; /* Remove the box shadow for the specified text elements */
}

/* Default style with no shadow */
* {
  box-shadow: none;
}

/* Style with shadow effect */
.shadow * {
  -webkit-box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.27);
  -moz-box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.27);
  box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.27);
}

.shadow {
  filter: drop-shadow(3px 3px 3px rgba(50, 50, 0, 0.5));
}
